

.editor-content {
    padding-top: 20px;
    padding-left: 100px;
    height: 100vh;
    overflow-y: auto;
}

.design-example-actions {
    margin-top: 20px;
    .zent-btn {
    width: 100px;
    margin-right: 10px;
}
}