.tab-bar-container{
    border: 1px dashed #ccc;
    margin: 20px 0;
    padding: 10px 0;
    width: 600px;
    position: relative;

    .del-btn {
        color: #666;
        cursor: pointer;
        position: absolute;
        right: -8px;
        top: -8px;
    }
}